<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-label>
        <ion-item class="ion-no-padding">
          <h1>From Nozol</h1>
          <p slot="end">
            3 min
            <ion-icon name="time-outline"></ion-icon>
          </p>
        </ion-item>
        <p>Lorem ipsum dolor sit amet, consectetur adipisc ing elit, sed do eiusmod tempor incid idunt utyte labore et dolore magna aliqua.</p>
      </ion-label>
      <ion-label>
        <ion-item class="ion-no-padding">
          <h1>From Nozol</h1>
          <p slot="end">
            5 min
            <ion-icon name="time-outline"></ion-icon>
          </p>
        </ion-item>
        <p>Lorem ipsum dolor sit amet, consectetur adipisc ing elit, sed do eiusmod tempor incid idunt utyte labore et dolore magna aliqua.</p>
      </ion-label>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
