<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth"></ion-back-button>
    </ion-buttons>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item class="ion-no-padding" size-mid="6" offset-mid="6">
            <ion-img align="center" [src]="imageUrl" alt="forgot password"></ion-img>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <p class="ion-text-center">
            We will send you an email to reset your password. Please enter your email address below
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input type="email" ngModel  name="email" required email #emailCtrl="ngModel"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
          <ion-button [disabled]="!form.valid" type="submit" expand="full" size="default">Recover Password</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
