<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="slide">
        <img src="assets/img/logo.png" alt="Nozol project logo">
        <h2>Welcome to Nozol</h2>
        <p>The <b>nozol app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img src="assets/img/welcome-nozol.png">
        <h2>What is Nozol?</h2>
        <p><b>Nozol</b> is an open source SDK that enables developers</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <h2>Hotels Services Project</h2>
        <p><b>Nozol</b> is an open source SDK that enables developers</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <h2>Ready to Play?</h2>
        <ion-button (click)="signIn()" fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
