<ion-header>
  <ion-toolbar>
    <ion-title>Digital Signature</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <app-signature-pad></app-signature-pad>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
