<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">My Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment color="primary" value="outgoing" (ionChange)="onFilterUpdateEvent($event.detail.value)">
    <ion-segment-button value="outgoing">Ongoing Services</ion-segment-button>
    <ion-segment-button value="past">Past Services</ion-segment-button>
  </ion-segment>
  <ion-grid>
    <div *ngIf="outGoingValue">
      <ion-row *ngFor="let item of mensOutfits">
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
          <ion-list>
            <ion-item detail>
              <ion-thumbnail slot="start">
                <ion-img [src]="item.imageUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>{{item.title}}</h2>
                <ion-label>
                  <p>Price: <span style="font-family: bold; font-size: 18px"> {{item.price | currency}}</span> </p>
                  <p>Quantity: <span style="font-family: bold; font-size: 18px">{{quantity}}</span> </p>
                </ion-label>
              </ion-label>
              <ion-button fill="clear">
                Ongoing
              </ion-button>
            </ion-item>
            <ion-item>
              <p>{{item.description}}</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="pastValue">
      <ion-row *ngFor="let item of mensOutfits">
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
          <ion-list>
            <ion-item detail>
              <ion-thumbnail slot="start">
                <ion-img [src]="item.imageUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>{{item.title}}</h2>
                <ion-label>
                  <p>Price: <span style="font-family: bold; font-size: 18px"> {{item.price | currency}}</span> </p>
                  <p>Quantity: <span style="font-family: bold; font-size: 18px">{{quantity}}</span> </p>
                </ion-label>
              </ion-label>
              <ion-button fill="clear">
                Completed
              </ion-button>
            </ion-item>
            <ion-item>
              <p>{{item.description}}</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
